:root {
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-700: #4a5568;
  --indigo-400: #7f9cf5;
  --indigo-600: #5a67d8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--gray-200);
}

p {
  margin: 0;
  padding: 0.25rem;
}

.data-btn {
  margin: 1rem auto;
  display: block;
  text-align: center;
}

#sort-select,
.sort-label {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container {
  margin-top: 2rem;
  text-align: center;
}

.person {
  color: var(--gray-700);
  padding: 1rem;
  background: var(--gray-100);
  margin: 2rem 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.first-name {
  color: var(--indigo-600);
  font-size: 2rem;
}

.last-name {
  color: var(--indigo-400);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .container > .person {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .container > .person {
    width: 30%;
  }
}
